
  .dark{
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.72 0.15 60);
    --chart-2: oklch(0.62 0.2 6);
    --chart-3: oklch(0.53 0.2 262);
    --chart-4: oklch(0.7 0.13 165);
    --chart-5: oklch(0.62 0.2 313);
    --container: oklch(0.22 0 0);
    --backdrop: oklch(0.85 0 0 / 0.15);
    --muted-backdrop: oklch(0.85 0 0 / 0.08);
    --radius: 0.5rem;
    --panel-left-width: 500px;
    --panel-right-width: 500px;
    --sidebar-width: 3rem;
}@import "tailwindcss";@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.14 0 285);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.14 0 285);
    --primary: oklch(0.31 0.02 281);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.9676 0.0013 286.4);
    --secondary-foreground: oklch(0.2103 0.0059 285.9);
    --muted: oklch(0.92 0 260);
    --muted-foreground: oklch(0.5519 0.0137 285.9);
    --accent: oklch(0.97 0 286);
    --accent-foreground: oklch(0.21 0 286);
    --destructive: oklch(0.64 0.2 25);
    --border: oklch(0.9219 0.0096 242.3);
    --input: oklch(0.9197 0.004 286.3);
    --ring: oklch(0.14 0 285);
    --chart-1: oklch(0.72 0.15 60);
    --chart-2: oklch(0.62 0.2 6);
    --chart-3: oklch(0.53 0.2 262);
    --chart-4: oklch(0.7 0.13 165);
    --chart-5: oklch(0.62 0.2 313);
    --container: oklch(0.98 0 247);
    --backdrop: oklch(0.25 0.07 252 / 0.25);
    --muted-backdrop: oklch(0.25 0.07 252 / 0.1);
    --radius: 0.5rem;
    --panel-left-width: 500px;
    --panel-right-width: 500px;
    --sidebar-width: 3rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-container: var(--container);
  --color-backdrop: var(--backdrop);
  --color-muted-backdrop: var(--muted-backdrop);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
